  .header {

        .red-header {
            width: 100%;
            height: 4vh;
            background: rgb(152, 0, 0);

            p {
                text-align: center;
                color: white;
                font-size: 15px;
            }
        }

        .menu {
            display: grid;
            grid-template-columns: auto auto auto auto;
            

            ul {
                width: 100%;
                text-decoration: none;
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 10px;
                padding-left: 30px;
                list-style: none;

                li{
                    color: black;
                    position: relative;
                    overflow: hidden;
                

                &::after {
                    content: "";
                    background: rgb(152, 0, 0);
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    bottom: 5px;
                    left:-100%;
                    transition: all linear 450ms;
                }

                &:hover::after{
                    left: 0;
                }


                p {
                    justify-self: left;
                    padding-top: 10px;
                    padding-left: 20px;
                }
                }

            }

            h1 {
                justify-self: center;
                padding-left: 65px;
                
            }

            

            .search {
                width: 23%;
                height: 4vh;
                justify-self: right;
                justify-content: flex-start;
                position: relative;
                text-align: center;
                


                svg {
                    position: absolute;
                    top: 23%;
                    color: rgb(144, 4, 4);

                }

                input {
                    all: unset;
                    width: 220px;
                    height: 40px;
                    font-size: 15px;
                    font-weight: bold;
                    border-radius: 7px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;


                }

                input:focus {
                    border: 1.5px solid rgb(11, 44, 0);
                }

                input::placeholder {
                    color: rgb(0, 38, 0);
                }
            }
        }

        

        .swiper {
            width: 100%;
            height: 90vh;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: rgb(5, 8, 15);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }